.chat-main
  .chat-main__group-info
    .main-header
      .main-header__group-name
        test
        .main-header__member-name
          member : chikaya
      .main-header__edit
        = link_to "#", class:"edit" do
          .main-header__edit-btn
            Edit
  .chat-main__message-list
    .message-box
      .message-box__info
        .message-box__info__name
          chikaya
        .message-box__info__date
          2020/8/12(wed) 17:43:09
      .message-box__message
        おはよう！

    .message-box
      .message-box__info
        .message-box__info__name
          chikaya
        .message-box__info__date
          2020/8/12(wed) 19:03:06
      .message-box__message
        こんばんは。
  .chat-main__message-form
    .input-box
      .input-box__content
        .input-box__content__message
          .input-box__content__message__btn
            type a message  
        .input-box__content__image
          .input-box__content__image__btn
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file", class:'Hidden'}
            -# <i class="far image Form__icon"></i>
      .input-box__send
        = link_to "#", class:"send" do
          .input-box__send__btn
            Send

